# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
REACT_PATH=./jdn-react

$REACT_PATH/node_modules
$REACT_PATH/pnp
$REACT_PATH/pnp.js

# testing
$REACT_PATH/coverage

# production
$REACT_PATH/build

# misc
$REACT_PATH/DS_Store
$REACT_PATH/env.local
$REACT_PATH/env.development.local
$REACT_PATH/env.test.local
$REACT_PATH/env.production.local

$REACT_PATH/npm-debug.log*
$REACT_PATH/yarn-debug.log*
$REACT_PATH/yarn-error.log*