    
/*--------------------about-page-------------------*/
/*--------------------about-page-------------------*/
/*--------------------about-page-------------------*/

/* introduce JDN */
/* introduce JDN */
#about .about-info .col-1:nth-child(1){
grid-column: 2/4;
} 
#about .about-info .col-1:nth-child(2){
grid-column: 5;
}    

.about-info .text{
text-align: left;
color: var(--text-color);
}

.about-logo{
position: relative;
bottom: 12rem;
}

@media screen and (max-width: 1200px){
#about .about-info .col-1:nth-child(1){
grid-column: 2/5;
} 

.about-logo{
position: relative;
bottom: 6rem;
}
    
.about-logo img{
width: 40rem;
    }
}

    @media screen and (max-width: 800px){
#about .about-info .col-1:nth-child(1){
grid-column: 1;
grid-row: 2;
max-width: 70rem;
justify-self: center;
} 
        
#about .about-info .col-1:nth-child(2){
grid-column: 1;
justify-self: center;
}

.about-logo{
position: relative;
bottom: 0rem;
}
        
.about-logo img{
width: 30rem;
}        
    }
    


/* about-vision - mission */
/* about-vision - mission */
.about-vision .col-1:nth-child(1){
grid-column: 1/5;
grid-row: 1;
justify-self: center;
} 
        
.about-vision .col-1:nth-child(2){
grid-column: 4/8;
grid-row: 1;
justify-self: center;
}

.about-vision .middle-2col-grid .col-1{
position: relative;
width: 100%;
} 
    
.about-vision .middle-2col-grid .col-1 .vision-img{
z-index: 2;
position: relative;
right: 5rem;
bottom: 10rem;
    width:100%;
    height: 70vh;
box-shadow: var(--section-shadow);    
}  
    
.col-1 .vision-img img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    box-shadow: var(--button-shadow);
    }

@media screen and (max-width: 1200px){
.vision-line::before{
height: 60%;
}    
}
    
    @media screen and (max-width: 800px){
  .vision-line::before{
height: 50%;
}

.about-vision .col-1:nth-child(1){
grid-column: 1;
grid-row: 1;
justify-self: center;
} 
        
.about-vision .col-1:nth-child(2){
grid-column: 1;
grid-row: 2;
justify-self: center;
}
           
    }    
    
/* about-vision - value */
/* about-vision - value */

.content-title-box{
width: 100%;
position: relative;
right: 5rem;
z-index: 3;
padding:10rem 5rem;
background: var(--white-color);
box-shadow: var(--section-shadow);
height: fit-content;
}

.vision-text{
color: var(--text-color);    
}

.content-title-box.none{
padding:0rem 0 10rem 5rem;
position: relative;
left: 0;
grid-column: 1/7;
background: none;
box-shadow: none;
    width: fit-content;
    
}



.content-title::after{
margin-top: 2rem;
margin-bottom: 1rem;
content: "";
height: .1rem;
border: .1rem solid var(--main-color);
border-radius: .5rem;
width: 100%;
display: block;
position: relative;
right: 1rem;
background-color: var(--main-color);
}


.vision-line::before{
content: "";
top: 5rem;
height: 55%;
width: 150rem;
display: block;
position:absolute;
left: 0;
background-color: var(--main-color);
z-index: 1;
}



.about-vision .vision-frame{
justify-self: center;
}

.vision-frame{
padding: 0 2rem;
width: 100%;
height: 100%;
position: relative;
}

.vision-box{
padding: 2rem 2rem;
width: 100%;
height: 27rem;
   background: rgba( 255, 255, 255, .5 );
box-shadow:var(--button-shadow);
backdrop-filter: blur( 1rem );
-webkit-backdrop-filter: blur( 1rem );
border: .1rem solid rgba( 20, 167, 212, 0 );
    transition: var(--transition-double);    
}

.vision-box:hover{
border: .1rem solid rgba( 20, 167, 212, 1 );
transform: translateY(-2rem); 
    transition: var(--transition-default);
}


.vision-icon{
background: var(--sub-color);
width:100%;
height: 60%;
transition: var(--transition-default);
}

.vlision-info{
color: var(--text-color);
text-align: center;
margin-top: 2rem;
align-items: center;
transition: var(--transition-default);
}


.vision-box:hover .vlision-info,
.vision-box:hover .vision-icon{
opacity: 0;
transition: var(--transition-default);
}

.vision-reveal{
padding: 4rem 0;
display: flex;
visibility: hidden;
flex-direction: column;
justify-content: space-between;
align-items: center;
height: 100%;
position: absolute;
top: 0%;
    left: 0;
    width: 100%;
text-align: center;
opacity: 0;
transition: var(--transition-default);
}


.vision-box:hover .vision-reveal{
color: var(--text-color);
opacity: 1;
visibility: visible;
transition: var(--transition-default);
}

.vision-box .inbox{
height: fit-content;
}

.button1.inbox a{
text-align: center;
    color: var(--white-color);
    display: block;
    padding: 1rem 3rem;   
}

.white-button.inbox:hover a{
color: var(--text-color);
}

@media screen and (max-width: 800px){
    .about-vision .middle-grid{
grid-template-columns: 1fr 1fr;
}    
    
.about-vision .middle-2col-grid .col-1{
position: relative;
width: 100%;
} 
    
.about-vision .middle-2col-grid .col-1 .vision-img{
z-index: 2;
position: relative;
bottom: 0rem;
left: 0rem;
    width:100%;
max-width: 50rem;
    height: 50vh;
box-shadow: var(--section-shadow);
margin: auto;
    }  
    
.col-1 .vision-img img{
    width: 100%;
max-width: 50rem;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    box-shadow: var(--button-shadow);
    }
        
    
    
.content-title-box{
margin: auto;
position: relative;
    bottom: 8rem;
width: 90%;
max-width: 50rem;
left: 3rem;
right: 0rem;
z-index: 3;
padding:4rem 2rem;
background: var(--white-color);
box-shadow: var(--section-shadow);
height: fit-content;
}

.vision-line::before{
display: none;
} 
    
.content-title-box.none{
padding:0rem 0 0rem 0rem;
position: relative;
left: 0;
grid-column: 1;
background: none;
box-shadow: none;
    width: fit-content;
} 


.vision-frame{
padding: 0 0rem;
max-width: 20rem;
height: 100%;
position: relative;
}

.vision-box{
padding: 2rem 2rem;
width: 100%;
max-width: 20rem;
height: 22rem;
   background: rgba( 255, 255, 255, .5 );
box-shadow:var(--button-shadow);
backdrop-filter: blur( 1rem );
-webkit-backdrop-filter: blur( 1rem );
border: .1rem solid rgba( 20, 167, 212, 0 );
    transition: var(--transition-double);    
}
    
 .vision-box .inbox{
height: fit-content;
position: absolute;
bottom: 0;
}

    
}
/*--------------------about-page-------------------*/
/*--------------------about-page-------------------*/
/*--------------------about-page-------------------*/    